*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url(./assets/fonts/fa-solid-900.woff2);
  }
  
  
  body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#212931;
    height:300vh;
  }
  .overlay{
   background-image: url(./assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .overlay h1{  font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    margin: 1rem;
    width: 70%;
    font-weight:bolder;
    font-size: 60px;
    text-transform: uppercase;
  
  }
  .overlay h3{
      font-family:'Times New Roman', Times, serif;
    text-align: center;
  
    margin: 1rem;
    font-size:2rem ;
  }
  .overlay span{
      font-size:5rem;
      font-weight:100;
      margin:1rem;
  }
  
  #main{
     max-width:80vw;
     
  }
  
  nav {
      display:flex;
      justify-content: space-between;
      padding:1rem 1.5rem;
      /* background-color:#1e252d; */
  }
  
  nav a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size:medium;
    font-weight: 700;
    color: white;
  }
  nav a:hover{
      background:white;
      color :black;
  
  
  
  }
  #navbar i{
    font-size: small;
    color: white;
    border: none;
  }
  .main-content{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    align-items:center;
      
  }
  .main-content img{
      width:50vw;
    margin: 1rem;
      
  }
  .main-content button{
      background-color: #ffffff;
    padding: 0.5rem 2rem;
    margin: 1rem;
    text-transform: capitalize;
  }
  .main-content button:hover{
      background:black;
      color :white;
      font-size:bold;
      text-transform: uppercase;
      border-radius:1rem;
  
  }
  #content{
      display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px 1px;
    margin: 1px 0;
    background-color: #909498;
    max-width:80vw;
  }
  .content-card{
      padding:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #ffffff;
    height: 100%;
    max-width:40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-card img{
       width:35vw;
    margin: 1rem;
  }
  .content-card button{
      background-color: #ffffff;
    padding: 0.5rem 2rem;
    margin: 1rem;
    text-transform: capitalize;
  
  }
  .content-card button:hover{
      background:black;
      color :white;
      font-size:bold;
      text-transform: uppercase;
      border-radius:1rem;
  
  }
  #pagenavigation{
  
    background-color: #ffffff;
    display: flex;
    justify-content: center;
  }
  #pagenavigation ul{
      list-style-type: none;
      display:flex;
      background-color: #eeeeee;
      align-items:center;
      justify-content:center;
      margin: 1rem;
  
  }
  #pagenavigation ul li{
       padding:1rem 1rem;
    background-color:#ffffff;
    margin: 1px;
    text-transform: uppercase;
    font-weight: bold;
  }
  #maincontainer{
      background:#a09f9f;
      display:flex;
      align-items: flex-start;
  
  }
  .container{
       padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right : solid 0.5px #1e252d33;
    
  }
    .container label{
    text-transform: uppercase;
    font-size: small;
    padding: 1rem 0 0.5rem 0;
  }
  
  .container input{
    font-size: larger;
    background-color: #f5f5f5;
    border: solid 0.5px #1e252d33;
    margin:.3rem;
    
  }
  
  .container textarea{
    background-color: #f5f5f5;
    margin:.3rem;
  }
  
  footer{
    padding: 2rem;
    color: #909498;
    text-transform: uppercase;
  } 
  
  
  
  
  